@media (max-width:500px) {

    .content-page{
        width: 95%;
        height: auto;
        padding: 8rem 1rem 1rem 1rem;
        text-align: center;
        margin: 10px;
    }


    .content-page h1{
        font-family: poppins;
        color: blue;
        font-size: 2.5rem;
        line-height: 3rem;  
    }

    .search-div{
        display: flex;
        width: 100%;
        padding: 10px;
        margin: auto;
       
    }

    /* profile sections display */
    .barbers-profile img{
        width: 50%;
    }

    .barbers-profile h2{
        /* width:80%; */
        font-size:1.9rem;
        line-height: 1.9rem;
    }

    .btn-active{
        padding: 10px 8px;
    }

    .btn-active i{
        margin-right: 4px;
    }

    .price-list{
        width: 95%;
    }

    .loc-time h5{
        font-size: 1rem;
    }

}