@media (max-width:500px){

    .content-page{
        width: 95%;
        height: auto;
        padding: 8rem 1rem 1rem 1rem;
        text-align: center;
        margin: 10px;
    }


    .content-page h1{
        font-family: poppins;
        color: blue;
        font-size: 2.5rem;
        line-height: 3rem;  
    }

    .search-div{
        display: flex;
        width: 100%;
        padding: 10px;
        margin: auto;
       
    }

    /* profile sections display */
    .barbers-profile img{
        max-width: 50%;
    }

    .barbers-profile h2{
        /* width:80%; */
        font-size:3rem;
        line-height: 1.9rem;
        text-align: center;
        width: 75%;

    }

    .loc-time{
        max-width: 100%;
        height: auto;
        padding: 10px;
        background-color: rgb(227, 233, 240);
        font-family: poppins;
        color: black;
        text-align: center;
    }
    

    .loc-time p{
    margin-top: 16px;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    }

    .btn-active{
        padding: 10px 2px;
    }

    .btn-active i{
        margin-right: 4px;
    }

    .price-list{
        width: 98%;
    }

   

 
}
